@import "../variables.module.scss";

.content {
    height: 70vw;

    @media (min-width: $screen-md) {
        height: 40vw;
    }

    @media (min-width: $screen-lg) {
        height: 25vw;
    }
}
.image {
    // height: 50vw;
    object-fit: cover;
    width: 100%;
    background-color: #ccc;
    height: 25vw;

    // @media (min-width: $screen-md) {
    //     height: 20vw;
    // }
}

