@import "../variables.module.scss";
.box{
    width: 300px;

    @media (max-width: $screen-md) {
        width: 100%;
    }
}

.boxOrder{
    width: 400px;

    @media (max-width: $screen-md) {
        width: 100%;
    }
}

.controlBtn {
    
}

.thumbnail{
    background-color: #CCC;
    border-radius: 10px;
    min-height: 80px;
}


.thumbnailImage{
    object-fit: cover;
    height: 30vw;
    width: 100%;
    border-radius: 10px;

    @media (min-width: $screen-md) {
        height: 10vw;
    }

    @media (min-width: $screen-lg) {
        height: 90px;
    }

}


.thumbnailOrder{
    background-color: #CCC;
    border-radius: 10px;
    min-height: 80px;
}

.thumbnailImageOrder{
    object-fit: cover;
    height: 130px;
    width: 100%;
    border-radius: 10px;

    // @media (min-width: $screen-md) {
    //     height: 10vw;
    // }

    @media (min-width: $screen-lg) {
        height: 130px;
    }

}