@import "../variables.module.scss";

.swiper {
    margin-top: 20px;
    width: 100%;
    // height: 100%;

    @media (min-width: $screen-sm) {
        width: 100%;
    }

    @media (min-width: $screen-md) {
        width: 90%;
    }

    @media (min-width: $screen-lg) {
        width: 80%;
    }
}

.swiperFull {
    margin-top: 20px;
    width: 100%;
}

.swiperSlide {
    text-align: center;
    font-size: 18px;
    background: #000;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiperSlideImg {
    // display: block;
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
    // height: 100%;
}

.monthNextBtn {
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 10px;
    }
}
.dateCard{
    width: 60px;
    height: 60px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: $primary-color;;
    }
}
.dateCardActive{
    color: $primary-color;
}
.dateCardInActive{
    color: #999;
    &:hover {
        color: #999;
    }
}
.monthText{
    width: 200px;
    text-align: center;
}