@import "./variables.module";

.box {
    width: 90%;
    min-width: 311px;
    background: rgb(124, 6, 2);
    background: radial-gradient(
        circle,
        rgba(124, 6, 2, 1) 27%,
        rgba(47, 7, 5, 1) 100%
    );
    color: #dfae6a;
    border: 1px solid #f68c29;

    @media (min-width: 440px) {
        width: 401px;
    }
}
